.contacts-page {
  color: $color-white;

  & p {
    line-height: 1.7rem;
  }

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0 4.25rem;
  }

  & a,
  & .contacts__company {
    color: $color-red-btn;
  }

  & .map {
    margin-bottom: 2rem;
  }
}