.rules-page {
  color: $color-white;
  max-width: 1920px;
  margin: 6.25rem auto 1.5rem;

  & .into-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  & .into-subtitle {
    font-size: 1.2rem;
  }
}

.rules-into__main {
  margin-left: 0;
  line-height: 1.2rem;
  padding: 2rem 1rem;
}

@media (min-width: 780px) {
  .rules-page {
    background: url(../images/ketchup.png) no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: bottom;
    margin: 8.25rem auto;

    & .into-title {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  
    & .into-subtitle {
      font-size: 1.5rem;
    }
  }

  .rules-into__main {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 3.62rem 2.5rem;
    margin: 2.5rem;
  }
}

@media (min-width: 1440px) {
 .rules-into__main {
  margin-left: 23rem;
  line-height: 1.75rem;
  padding: 3.62rem 2.5rem;
  background-color: transparent;
}

.rules-into__main {
  line-height: 1.75rem;
  padding: 3.62rem 0 0 2.5rem;
}

}