@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
.header {
  color: #FFFFFF;
  padding: 1.8rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header__logo,
.btn-book,
.header__burger {
  position: relative;
  z-index: 2;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #111111;
  z-index: 1;
  text-transform: uppercase;
}
.nav .nav__list li {
  margin: 0.7rem 0;
}
.nav .nav__item.active {
  color: #FF0303;
}

.nav.active {
  display: flex;
}

.nav-menu {
  position: relative;
}
.nav-menu .nav-menu__dropdown {
  padding: 0px 12px 2px 0;
  position: relative;
  cursor: pointer;
}
.nav-menu .nav-menu__dropdown .nav-menu__list {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease;
}
.nav-menu .nav-menu__dropdown .nav-menu__list.active {
  height: auto;
  transition: height 0.2s ease;
}
.nav-menu .nav-menu__dropdown::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  display: block;
  height: 6px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #FFFFFF;
}
.nav-menu .nav-menu__dropdown.active {
  color: #FF0303;
}
.nav-menu .nav-menu__dropdown.active::after {
  transform: rotateX(-180deg);
  top: 0;
}

.header__burger {
  min-width: 38px;
  height: 30px;
  cursor: pointer;
  transition: all 0.1s ease;
  position: relative;
}
.header__burger::before, .header__burger::after, .header__burger span {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 5px;
  height: 6px;
}
.header__burger::before, .header__burger::after {
  content: "";
  left: 6px;
  width: 27px;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger span {
  width: 100%;
  left: 0;
  top: 12px;
}
.header__burger:hover::before, .header__burger:hover::after, .header__burger:hover span {
  transition: all 0.1s ease;
  background-color: #E31E24;
}

.header__logo img {
  max-width: 54px;
}

.btn-book {
  min-width: 200px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E31E24;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
}
.btn-book:hover {
  color: #111111;
}

.nav-menu {
  position: relative;
}
.nav-menu .nav-menu__list {
  left: 0;
  height: 0;
  top: 1.5rem;
  transition: all 0.1s ease;
  padding: 0 5px;
  overflow: hidden;
  visibility: hidden;
}
.nav-menu .nav-menu__list.active {
  height: 70px;
  padding: 5px;
  visibility: visible;
  transition: all 0.1s ease;
}

.header.active {
  background-color: rgba(17, 17, 17, 0.9);
  box-shadow: 1px 1px 5px #FF0303;
  transition: background-color 0.1s ease;
}

@media (min-width: 780px) {
  .header .btn-book {
    margin-left: auto;
  }
}
@media (min-width: 1024px) {
  .nav {
    position: static;
    font-weight: 500;
    background-color: transparent;
    display: flex;
  }
  .nav .nav__list {
    display: flex;
    gap: 0.7rem;
  }
  .header__burger {
    display: none;
  }
  .header__logo img {
    max-width: 99px;
  }
  .nav-menu {
    position: relative;
    border-bottom: 1px solid #FFFFFF;
  }
  .nav-menu .nav-menu__list {
    position: absolute;
    left: 0;
    height: 0;
    top: 1.5rem;
    background: rgba(17, 17, 17, 0.8);
    transition: all 0.1s ease;
    padding: 5px;
    overflow: hidden;
    visibility: hidden;
  }
  .nav-menu .nav-menu__list.active {
    height: 70px;
    visibility: visible;
    transition: all 0.1s ease;
  }
}
@media (min-width: 1120px) {
  .nav .nav__list {
    display: flex;
    gap: 1.5rem;
  }
}
.footer {
  color: #FFFFFF;
  padding: 2rem;
}
.footer a:hover {
  color: #FF0303;
}
.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
.footer .footer__links, .footer .footer__contacts {
  text-align: center;
  line-height: 1.6rem;
}
.footer .footer__links img {
  max-width: 24px;
}

@media (min-width: 780px) {
  .footer .container {
    justify-content: space-between;
    flex-direction: row;
  }
}
.main-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.main-page .cards {
  position: relative;
  top: -40px;
}
.main-page .cards .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main-page .cards .card-figure {
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  max-width: 500px;
  max-height: 330px;
  border-radius: 30px;
  width: 100%;
}
.main-page .cards .card-figure .card-figcaption {
  position: absolute;
  bottom: 14px;
  right: 30px;
  color: #FFFFFF;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}
.main-page .cards .card-figure .card-figcaption p {
  padding: 0 10px;
  text-align: center;
}
.main-page .cards .card-figure .card-figcaption p:first-child {
  border-bottom: 2px solid #FFFFFF;
}
.main-page .cards .card-figure .card-figcaption p:last-child {
  transform: rotate(-180deg);
}
.main-page .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__preview {
  min-height: 450px;
  width: 100%;
  max-height: 770px;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 6.25rem;
  background: url(../images/preview-mobile.png) center center no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100%;
  z-index: 0;
  background-color: rgba(17, 17, 17, 0.4);
}

.main-page-title {
  position: relative;
  max-width: 1000px;
  z-index: 1;
}

.swiper {
  display: none;
}

@media (min-width: 780px) {
  .main__preview {
    min-height: 772px;
    background: url(../images/preview.png) center center no-repeat;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-page .cards {
    position: relative;
    top: -40px;
  }
  .main-page .cards .container {
    display: none;
  }
  .swiper {
    width: 100%;
    height: 100%;
    max-height: 518px;
    margin-bottom: 40px;
    display: block;
  }
  .swiper-slide,
  .slide-item-wrapper {
    overflow: hidden;
    border-radius: 20px;
  }
  .swiper-slide a {
    display: block;
    height: inherit;
  }
  .swiper-menu .swiper-slide {
    height: 518px;
    position: relative;
    width: 80%;
  }
  .swiper-menu .swiper-slide img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 518px;
    scale: 1.1;
  }
  .swiper-menu .swiper-slide__title {
    text-align: center;
    position: absolute;
    font-size: 2rem;
    color: #FFFFFF;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 2rem;
  }
  .swiper-menu .swiper-slide__title p {
    padding: 5px 10px;
  }
  .swiper-menu .swiper-slide__title p:first-child {
    border-bottom: 2px solid #FFFFFF;
  }
  .swiper-menu .swiper-slide__title p:last-child {
    transform: rotate(-180deg);
    bottom: 40px;
    right: 40px;
  }
  .swiper-gallery .swiper-slide {
    height: 350px;
  }
  .swiper-gallery .swiper-slide img {
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .swiper-gallery .swiper-slide:nth-child(odd) {
    width: 40%;
  }
  .swiper-gallery .swiper-slide:nth-child(even) {
    width: 20%;
  }
}
@media (min-width: 1024px) {
  .swiper-menu .swiper-slide:nth-child(odd) {
    width: 50%;
  }
  .swiper-menu .swiper-slide:nth-child(even) {
    width: 30%;
  }
}
.rules-page {
  color: #FFFFFF;
  max-width: 1920px;
  margin: 6.25rem auto 1.5rem;
}
.rules-page .into-title {
  font-size: 1.5rem;
  line-height: 2rem;
}
.rules-page .into-subtitle {
  font-size: 1.2rem;
}

.rules-into__main {
  margin-left: 0;
  line-height: 1.2rem;
  padding: 2rem 1rem;
}

@media (min-width: 780px) {
  .rules-page {
    background: url(../images/ketchup.png) no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: bottom;
    margin: 8.25rem auto;
  }
  .rules-page .into-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .rules-page .into-subtitle {
    font-size: 1.5rem;
  }
  .rules-into__main {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 3.62rem 2.5rem;
    margin: 2.5rem;
  }
}
@media (min-width: 1440px) {
  .rules-into__main {
    margin-left: 23rem;
    line-height: 1.75rem;
    padding: 3.62rem 2.5rem;
    background-color: transparent;
  }
  .rules-into__main {
    line-height: 1.75rem;
    padding: 3.62rem 0 0 2.5rem;
  }
}
.contacts-page {
  color: #FFFFFF;
}
.contacts-page p {
  line-height: 1.7rem;
}
.contacts-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 0 4.25rem;
}
.contacts-page a, .contacts-page .contacts__company {
  color: #E31E24;
}
.contacts-page .map {
  margin-bottom: 2rem;
}

.kitchen-menu .catalog-filter {
  padding-top: 3rem;
  padding-bottom: 6px;
}
.kitchen-menu .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 50px 15px 40px 30px;
}
.kitchen-menu .cards .cards__item {
  background-color: #FFFFFF;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: 1fr auto;
  grid-template-areas: "img cont" "pr pr";
  max-width: 584px;
  min-width: 300px;
}
.kitchen-menu .cards .cards__item .cards__item-title {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.kitchen-menu .cards .cards__item .cards__item-image {
  grid-area: img;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  left: -1rem;
  top: -1rem;
  max-height: 250px;
}
.kitchen-menu .cards .cards__item .cards__item-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.kitchen-menu .cards .cards__item .cards__item-content {
  grid-area: cont;
  padding: 1rem 1rem 1rem 0;
  line-height: 19px;
}
.kitchen-menu .cards .cards__item .cards__item-price {
  grid-area: pr;
  text-align: right;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 1rem 1rem 0;
}

@media (min-width: 780px) {
  .kitchen-menu .catalog-filter {
    padding-top: 3rem;
    padding-bottom: 6px;
  }
  .kitchen-menu .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 72px 15px 40px 30px;
  }
  .kitchen-menu .cards .cards__item {
    background-color: #FFFFFF;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: 1fr auto;
    grid-template-areas: "img cont" "pr pr";
    max-width: 584px;
    min-width: 300px;
  }
  .kitchen-menu .cards .cards__item .cards__item-title {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
  .kitchen-menu .cards .cards__item .cards__item-image {
    grid-area: img;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    left: -1.5rem;
    top: -1.5rem;
    max-height: 312px;
  }
  .kitchen-menu .cards .cards__item .cards__item-image img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .kitchen-menu .cards .cards__item .cards__item-content {
    grid-area: cont;
    padding: 1.5rem 1.5rem 1.5rem 0;
    line-height: 26px;
  }
  .kitchen-menu .cards .cards__item .cards__item-price {
    grid-area: pr;
    text-align: right;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 21px 21px 0;
  }
}
.menu-bar-page .main__preview {
  background: url(../images/bar-preview.png) center center no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.bar-cards {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bar-cards .bar__col {
  margin: 1rem 0;
}

.bar-cards__item {
  max-width: 480px;
  padding: 0.75rem 2rem;
}
.bar-cards__item p {
  line-height: 20px;
}
.bar-cards__item img {
  max-width: 3.5rem;
}

.bar-cards__item-header {
  display: flex;
  gap: 0.5rem;
  padding: 10px 0;
}
.bar-cards__item-header .bar-cards__item-title {
  font-size: 1.1rem;
  color: #FF0303;
  white-space: nowrap;
  text-transform: uppercase;
}
.bar-cards__item-header .bar-cards__item-price {
  flex: 1;
  text-align: end;
}
.bar-cards__item-header .bar-cards__item-size {
  font-size: 0.5rem;
}

.definition {
  background-color: #FFFFFF;
  padding: 12px 0;
}
.definition .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 1440px;
}
.definition .container .definition__col {
  flex: 1;
  max-width: 480px;
}
.definition .container .definition__col:nth-child(1) .definition__bottom {
  margin-bottom: auto;
}
.definition .container .definition__col:nth-child(1), .definition .container .definition__col:nth-child(3) {
  padding: 12px;
  text-align: center;
}
.definition .container .definition__col:nth-child(1) .definition__bottom, .definition .container .definition__col:nth-child(3) .definition__bottom {
  padding-top: 12px;
  line-height: 24px;
}
.definition .container .definition__col:nth-child(2) {
  background-color: #E31E24;
  border-radius: 5px;
  padding: 1.1rem;
  line-height: 20px;
}
.definition .container .definition__col:nth-child(2) .definition__top {
  color: #FFFFFF;
  font-weight: 700;
  line-height: 22px;
}
.definition .container .definition__col:nth-child(2) .definition__bottom {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 1rem;
}
.definition .container .definition__col .definition__top {
  text-align: center;
}
.definition .container .definition__col .definition__bottom {
  margin-top: 1rem;
}
.definition img {
  width: 180px;
}

@media (min-width: 780px) {
  .bar-cards {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .bar-cards .bar__col {
    margin: 2.6rem 0;
  }
  .bar-cards .bar__col:nth-child(1) {
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
  }
  .bar-cards .bar__col:nth-child(2) {
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
  }
  .bar-cards .bar__col:nth-child(3) {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
  }
  .bar-cards__item {
    padding: 0.75rem 2rem;
    max-width: 440px;
  }
  .bar-cards__item-header {
    display: flex;
    gap: 3rem;
    padding: 10px 0;
  }
  .definition {
    background-color: #FFFFFF;
    padding: 12px 0;
  }
  .definition .container {
    flex-direction: row;
    gap: 2rem;
  }
  .definition .container img {
    width: 200px;
  }
}
@media (min-width: 1354px) {
  .bar-cards {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .bar-cards .bar__col {
    margin: 2.6rem 0 4.125rem;
  }
  .bar-cards .bar__col:nth-child(1) {
    border-right: 1px solid #FFFFFF;
    border-left: none;
  }
  .bar-cards .bar__col:nth-child(2) {
    border-right: none;
    border-left: none;
  }
  .bar-cards .bar__col:nth-child(3) {
    border-left: 1px solid #FFFFFF;
    border-right: none;
  }
  .bar-cards__item {
    padding: 0.75rem 2rem;
  }
  .definition .container {
    gap: 4.75rem;
  }
}
.atmosphere-page {
  margin-top: 8rem;
}

.atmosphere {
  padding: 0 1rem;
}
.atmosphere .atmosphere-slide-wrapper {
  border-radius: 20px;
  max-height: 350px;
  overflow: hidden;
}
.atmosphere img {
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.1;
  min-height: 350px;
}
.atmosphere .swiper-gallery {
  display: block;
  margin: 2rem 0;
}
.atmosphere .swiper-gallery .swiper-slide:nth-child(even) {
  width: 100%;
}
.atmosphere .swiper-gallery .swiper-slide:nth-child(odd) {
  width: 100%;
}

@media (min-width: 780px) {
  .atmosphere-page {
    margin-top: 12rem;
  }
  .atmosphere .swiper-gallery {
    display: block;
    max-height: 450px;
    margin: 2rem 0;
  }
  .atmosphere .swiper-gallery:nth-child(1) .swiper-slide:nth-child(even) {
    width: 30%;
  }
  .atmosphere .swiper-gallery:nth-child(1) .swiper-slide:nth-child(odd) {
    width: 70%;
  }
  .atmosphere .swiper-gallery:nth-child(2) .swiper-slide:nth-child(odd) {
    width: 30%;
  }
  .atmosphere .swiper-gallery:nth-child(2) .swiper-slide:nth-child(even) {
    width: 70%;
  }
  .atmosphere .swiper-gallery:nth-child(3) .swiper-slide:nth-child(even) {
    width: 60%;
  }
  .atmosphere .swiper-gallery:nth-child(3) .swiper-slide:nth-child(odd) {
    width: 20%;
  }
}
.online-pay-page {
  color: #FFFFFF;
  margin-top: 8rem;
}

.pay-form-block .pay-title {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  padding: 2rem 0;
}

.pay-form {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  padding: 1rem 1.5rem;
  background-color: #FFFFFF;
  border-radius: 5px;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 3rem;
}
.pay-form label {
  flex: 1;
  width: 100%;
  position: relative;
}
.pay-form label:nth-child(1)::before {
  content: "№";
}
.pay-form label:nth-child(2)::before {
  content: "₽";
}
.pay-form label::before {
  position: absolute;
  left: 1rem;
  top: 4px;
  font-size: 2rem;
  font-weight: 500;
}
.pay-form input {
  height: 3rem;
  border-radius: 5px;
  border: none;
}
.pay-form input[type=number] {
  width: 100%;
  color: #FFFFFF;
  background-color: #111111;
  text-align: end;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
}
.pay-form input[type=submit] {
  color: #FFFFFF;
  background-color: #E31E24;
  text-align: center;
  padding: 10px 32px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.pay-form-description {
  padding-bottom: 2rem;
}

.pay-form__cards {
  display: flex;
  height: 100%;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  max-height: 160px;
}
.pay-form__cards .pay-form__card {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.pay-annotation {
  padding: 2rem 0;
}
.pay-annotation p {
  padding-bottom: 2rem;
}
.pay-annotation a {
  text-decoration: underline;
}

@media (min-width: 780px) {
  .online-pay-page {
    margin-top: 10rem;
    background: url("../images/payment-bg.png") left no-repeat;
    background-size: contain;
  }
  .online-pay-page .container {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .pay-form-block .pay-title {
    font-size: 2rem;
    padding: 3rem 0;
  }
  .pay-form__cards {
    display: flex;
    height: 100%;
    -moz-column-gap: 2.8rem;
         column-gap: 2.8rem;
    max-height: 160px;
  }
}
@media (min-width: 1024px) {
  .online-pay-page .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: 4.5rem;
  }
}
@media (min-width: 1440px) {
  .online-pay-page {
    padding-bottom: 2.5rem;
  }
  .online-pay-page .container {
    max-width: 1200px;
    background: none;
  }
}
.friends-club-page {
  color: #FFFFFF;
  margin-top: 8rem;
}

.friends-club-block .pay-title {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  padding: 2rem 0;
}

.friends-club-tabs {
  min-height: 100%;
}
.friends-club-tabs p {
  padding: 1rem;
  font-weight: 500;
  line-height: 28px;
}

@media (min-width: 780px) {
  .friends-club-page {
    margin-top: 10rem;
    background: url("../images/friends-club-bg.png") left no-repeat;
    background-size: contain;
  }
  .friends-club-page .container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem 1rem;
  }
  .friends-club-block .pay-title {
    font-size: 2rem;
    padding: 3rem 0;
  }
}
@media (min-width: 1024px) {
  .friends-club-page .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: 4.5rem;
  }
  .friends-club-tabs {
    min-height: 100%;
  }
  .friends-club-tabs p {
    padding: 1rem 0;
  }
}
@media (min-width: 1440px) {
  .friends-club-page {
    padding-bottom: 2.5rem;
  }
  .friends-club-page .container {
    max-width: 1200px;
    background: none;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #111111;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #E31E24;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

fieldset {
  border: none;
}

.visually-hidden {
  visibility: hidden;
  width: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.progress-list {
  display: inline-flex;
  border-bottom: 1px solid #FFFFFF;
  padding: 1rem 0;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin: 1.2rem 0;
}
.progress-list .progress-item {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  color: #111111;
  font-weight: 700;
  font-size: 1.3rem;
}
.progress-list .progress-item.active {
  background-color: #FF0303;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.map {
  width: 100%;
  height: 420px;
  overflow: hidden;
}

.map-wrapper {
  width: 100%;
  height: 420px;
}

.leaflet-popup-close-button,
.leaflet-control-attribution,
.leaflet-control {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.page-title {
  position: relative;
  z-index: 1;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
.page-title .title, .page-title .subtitle {
  font-size: calc(70px + 56 * (100vw - 375px) / 1545);
}
.page-title .title {
  display: inline-block;
  border-bottom: 4px solid #FFFFFF;
}
.page-title .subtitle {
  transform: rotate(180deg);
}

.catalog-filter {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 1.8rem;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}
.catalog-filter .catalog-filter__block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 9px 0;
  align-items: center;
  min-height: 30px;
}
.catalog-filter .catalog-filter__block-item label {
  cursor: pointer;
}
.catalog-filter input[type=radio]:checked + label {
  color: #FF0303;
  font-size: 1rem;
}

.leaflet-popup-content {
  width: 300px;
  margin: 0 0 10px 0;
}
.leaflet-popup-content img {
  width: 300px;
  height: 125px;
  transform: scale(1.05);
}

.leaflet-popup-content-wrapper {
  overflow: hidden;
  border-radius: 20px;
}

.custom-popup {
  padding: 10px 10px 5px;
  display: flex;
  justify-content: space-between;
}
.custom-popup p {
  padding: 0;
  line-height: 0;
  margin: 6px 0;
}
.custom-popup span {
  color: gold;
}

.logo-popup {
  background-color: black;
  padding: 10px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
}
.logo-popup img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  text-align: left;
  padding: 10px;
}

.content {
  display: none;
  padding: 10px 20px;
}

.content.active {
  display: block;
}

.tab-button {
  border: none;
  cursor: pointer;
}

@media (min-width: 780px) {
  .progress-list {
    display: inline-flex;
    border-bottom: 1px solid #FFFFFF;
    padding: 1rem 0;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    margin: 2rem 0;
  }
  .progress-list .progress-item {
    width: 74px;
    height: 74px;
    font-size: 2rem;
  }
  .map {
    width: 100%;
    height: 420px;
  }
  .map-wrapper {
    width: 100%;
    height: 420px;
  }
  .catalog-filter {
    margin: 0 5rem;
    font-size: 1rem;
  }
  .catalog-filter .catalog-filter__block {
    gap: 24px;
    min-height: 47px;
  }
  .catalog-filter input[type=radio]:checked + label {
    font-size: 1.5rem;
  }
}
@media (min-width: 1440px) {
  .page-title .title, .page-title .subtitle {
    font-size: 128px;
  }
}/*# sourceMappingURL=style.css.map */